TIMETABLE_SERVICE_BROKER_HOSTNAME=rabbitmq
TIMETABLE_SERVICE_BROKER_USERNAME=user
TIMETABLE_SERVICE_BROKER_PASSWORD=password

TIMETABLE_SERVICE_BROKER_QUEUE_LISTEN=local.timetable_generate_request
TIMETABLE_SERVICE_BROKER_QUEUE_REPLY=local.timetable_generate_response

ASPNETCORE_URLS=http://0.0.0.0:5000

RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
