.github/**/* @ladesa-ro/security
.deploy/**/* @ladesa-ro/security @ladesa-ro/devops
CODEOWNERS  @ladesa-ro/security
**/*.sh  @ladesa-ro/security
Makefile @ladesa-ro/security @ladesa-ro/devops
Dockerfile @ladesa-ro/security @ladesa-ro/devops
Dockerfile.dockerignore @ladesa-ro/security @ladesa-ro/devops
docker-compose.yml @ladesa-ro/security @ladesa-ro/devops
